<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Games</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="robots" content="noindex,noarchive,nofollow" />
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <header>
        <h1>Games</h1>
    </header>
    <nav>
        <a href="index"> Home</a>
        <a href="tournaments"> Tournaments</a>
        <a href ="games"> Games</a> 
        <a href="teams"> Teams</a> 
        <a href="players"> Players</a> 
        <a href="sponsors"> Sponsors</a>
    </nav>
<main>
    <h2>Browse Games</h2>
    <table border =  "2" cellpadding = "5">
        <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->
                    {% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create edit/delete buttons -->
						    <td><a href="edit_game/{{item.gameID}}"><button>Edit</button></a></td>
						    <td><a href="delete_game/{{item.gameID}}"><button>Delete</button></a></td>

					    </tr> 
                    {% endfor %} 
            {% endif %} 
    </table>

<p>&nbsp;</p>

    <form id="insertGame" action="/Games" method="POST">
        <legend><strong>Add Game</strong></legend>
        <fieldset class="'field">
            <label>Title</label> <input type="text" name="title" required>
            <label>Genre</label> <input type="text" name="genre" required>
            <label>Platform<label> <input type="text" name="platform" required>
        </fieldset>
        <input class="btn" type="submit" id="addGame" value="Add Game">
    </form>
</main>
</body>
