<!DOCTYPE html>
<html>

<!-- Citation for the following functions                               -->
<!-- Adapted from the flask-starter-app > players.j2                -->
<!-- Modified display texts, forms, variable names, and iterators to    --> 
<!-- display and retrieve desired information for Teams entity      -->
<!-- Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app -->


<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Teams</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="robots" content="noindex,noarchive,nofollow" />
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
<main>
    <header>
        <h1>Teams</h1>
    </header>
    <nav>
        <a href="index"> Home</a>
        <a href="tournaments"> Tournaments</a>
        <a href ="games"> Games</a> 
        <a href="teams"> Teams</a> 
        <a href="players"> Players</a> 
        <a href="sponsors"> Sponsors</a>
    </nav>
    <h2>Browse Teams</h2>
    <table border =  "2" cellpadding = "5">
        <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->
                    {% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_team/{{item.teamID}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_team/{{item.teamID}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                    {% endfor %} 
            {% endif %} 
    </table>

<p>&nbsp;</p>

    <form id="insertTeam" action="/teams" method="POST">
        <legend><strong>Add Team</strong></legend>
        <fieldset class="'field">
            <label>Team Name</label> <input type="text" name="teamName" id="teamName" required>
            <label>Location</label> <input type="text" name="location" id="location" required>
            <label>Sponsor</label> <select name="sponsor" id="sponsor">
                <option value="0"> None </option>
                {% for item in sponsors %}
                    <option value="{{item['sponsorID']}}">{{item['sponsorName']}}</option>
                {% endfor %}
            </select>
            <label>Registered Tournament</label> <select name="tournament" id="tournament">
                <option value="0"> None </option>
                {% for item in tournaments %}
                    <option value="{{item['tournamentID']}}">{{item['tournamentName']}}</option>
                {% endfor %}
            </select>
            <label>Description</label> <input type="text" name="description" required>
        </fieldset>
        <input class="btn" type="submit" id="addTeam" value="Add Team" name="addTeam">
    </form> 
</main>
</body>