<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tournaments</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="robots" content="noindex,noarchive,nofollow" />
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>

<body>
    <header>
        <h1>Tournaments</h1>
    </header>
    <nav>
        <a href="index"> Home</a>
        <a href="tournaments"> Tournaments</a>
        <a href ="games"> Games</a> 
        <a href="teams"> Teams</a> 
        <a href="players"> Players</a> 
        <a href="sponsors"> Sponsors</a>
    </nav>
<main>
    <h2>Browse Tournaments</h2>
    <table border =  "2" cellpadding = "5">
        <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->
                    {% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create edit/delete buttons -->
						    <td><a href="edit_tournament/{{item.tournamentID}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_tournament/{{item.tournamentID}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                    {% endfor %} 
            {% endif %}  
    </table>
    <p>&nbsp;</p>

    <form id="insertTournament" action="/tournaments" method="POST">
        <legend><strong>Add Tournament</strong></legend>
        <fieldset class="'field">
            <label>Tournament Name</label> <input type="text" name="tournamentName" required>
            <label>Location</label> <input type="text" name="location" required>
            <label>Start Date<label> <input type="date" name="startDate">
            <label>End Date</label> <input type="date" name="endDate">
        </fieldset>
        <input class="btn" type="submit" id="addTournament" value="Add Tournament">
    </form>

    <h2>Browse Games at Tournaments</h2>
    <table border =  "2" cellpadding = "5">
        <!-- Access data tuple passed from app.py --> 
                {% if intersection %}
                    <thead>
                        <tr>
                            <!-- Iterate through each key in the first entry to get the column name -->
                            {% for key in intersection[0].keys() %}
                            
                            <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                            <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                            <!-- End of this for loop -->
                            {% endfor %} 
                        </tr>

                    <tbody>
                        <!-- Now, iterate through every item in data -->
                        {% for item in intersection %}
                            <tr>
                                <!-- Then iterate through every key in the current item dictionary -->
                                {% for key in item.keys() %}

                                <!-- Create a <td> element with the value of that key in it -->
                                <td> {{item[key]}} </td>                                
                                {% endfor %}
                                <td>
                                <form method="post" action="/delete_tournament_game">
                                    <input type="hidden" name="gameID" value="{{ item.gameID }}">
                                    <input type="hidden" name="tournamentID" value="{{ item.tournamentID }}">
                                    <button type="submit">Delete</button>
                                </form>
                                </td> 
                                <!-- Create our edit/delete buttons -->
                                <td><a href="edit_player/{{item.tournamentID}}" class="btn btn-default">Edit</a></td>

                            </tr> 
                        {% endfor %} 
                {% endif %}  
    </table>
<p>&nbsp;</p>

    <form id="insertTournament_Has_Games" action="/tournaments" method="POST">
        <legend><strong>Add Tournament Games</strong></legend>
        <fieldset class="'field">
            <label>Tournament Name</label> <select name="tournamentID">
                {% for item in data %}
                    <option value="{{item['tournamentID']}}">{{item['tournamentName']}}</option>
                {% endfor %}
            </select>
            
            <label>Game Title</label> <select name="gameID">
                {% for item in games %}
                    <option value="{{item['gameID']}}">{{item['title']}}</option>
                {% endfor %}
            </select>
        </fieldset>
        <input class="btn" type="submit" id="addTournamentsGames" value="Add Game to Tournament">
    </form>